body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-table-delete {
  width: 80px;
}

.btn-icon {
  margin-bottom: 3px;
}

.navbar-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-collapse {
  align-items: self-start !important;
}

.navbar {
  align-items: start !important;
}

@media (max-width: 1024px) {
  .navbar-brand {
    font-size: 1.1rem !important;
  }

  .nav-link {
    font-size: 1rem !important;
  }
}

@media (max-width: 767px) {
  .navbar-container {
    height: auto;
  }
  .navbar-brand {
    margin-left: 16px;
  }
}